$colors:(
	color-logo-web:#2196F3 ,
	color-logo-studio:#000000,
	color-adresses:#757575,
	color-white:#ffffff,
	color-background-section-first:#2F303A,
	color-background-section-team:#F5F4FA,
	color-text-p:#212121,
	color-active:#188CE8,
	color-portfolio-cards: #EEEEEE,
	color-svg: #AFB1B8,
	color-bg-svg: rgba(255, 255, 255, 0.1),
	color-close-form: #E6E6E6,
	);
$fonts:(
	font-family-logo:'Raleway',
	font-family-roboto:'Roboto',
	);
@function getFont($key) {
    @return map-get($fonts, $key);
}
@function getColor($key) {
    @return map-get($colors, $key);
}