.header {
	width: 100%;
	border-bottom: 1px solid #ececec;
	padding: 24px 0 25px;
	&__container--flex {
		display: flex;
		justify-content: space-between;
	}
	&__burger-menu {
		display: none;
	}
	&__container--flex {
		@extend %FLXALGNcntr;
	}
	&__logo-web,
	&__logo-studio {
		font-weight: 700;
		font-size: 26px;
	}
	&__logo-web {
		font-family: getFont('font-family-logo'), sans-serif;
		color: getColor('color-logo-web');
	}
	&__logo-studio {
		font-family: getFont('font-family-roboto'), sans-serif;
		color: getColor('color-logo-studio');
		margin-right: 92px;
	}
	&__nav {
		@include FLXAIcntrJCspcbtw;
		&-list {
			display: flex;
			.header__nav-item {
				&:not(:last-child) {
					margin-right: 50px;
				}
				.header__nav-link {
					@extend %FLXALGNcntr;
					position: relative;
					font-family: getFont('font-family-roboto'), sans-serif;
					font-weight: 500;
					font-size: 14px;
					color: getColor('color-text-p');
					transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
					&:hover {
						color: map-get($colors, 'color-logo-web');
					}
					&--active {
						color: map-get($colors, 'color-logo-web');
						&::after {
							content: '';
							display: block;
							position: absolute;
							width: 0;
							height: 4px;
							top: 44px;
							left: 0;
							background-color: map-get($colors, 'color-active');
							border-radius: 15px;
							animation: pulse 2s infinite;
						}
						&:hover::after {
							width: 100%;
						}
					}
				}
			}
		}
	}

	&__contact-list {
		@extend %FLXALGNcntr;
		font-family: getFont('font-family-roboto'), sans-serif;
		font-weight: 500;
		font-size: 14px;
	}
}
.header__contact-email,
.header__contact-tel {
	color: map-get($colors, 'color-adresses');
	display: flex;
	align-items: center;
	gap: 10px;
	fill: map-get($colors, 'color-adresses');
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
		fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
	&:hover {
		color: map-get($colors, 'color-logo-web');
	}
	&:first-child {
		margin-right: 30px;
	}
}
.header__contact-item:hover .header__contact-email,
.header__contact-tel:hover {
	color: map-get($colors, 'color-active');
	fill: map-get($colors, 'color-logo-web');
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-delay: 0;
}
@keyframes pulse {
	0% {
		width: 0;
	}
	50% {
		width: 100%;
	}
	100% {
		width: 0;
	}
}
@media screen and (min-width: 768px) {
	.header {
		&__burger-menu {
			display: none;
		}

		&__contact-list {
			display: block;
		}
	}
	.burger__menu--contact,
	.social-links {
		display: none;
	}
}

@media screen and (min-width: 1200px) {
	.header {
		&__contact-list {
			display: flex;
		}
	}
}
@media screen and (max-width: 767px) {
	.header {
		&__nav {
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-right: 0;
			width: 100%;
		}
		&__nav-list &__nav-item &__nav-link {
			font-weight: 500;
			font-size: 40px;
			letter-spacing: 0.02em;
			text-align: left;
		}
		.header__nav-list .header__nav-item .header__nav-link--active::after {
			animation: none;
		}
		&__nav-list,
		&__contact-list {
			display: none;
		}
		&__logo-web {
			padding-left: 15px;
		}
		&__logo-studio,
		&__logo-web {
			font-weight: 700;
			font-size: 24px;
			letter-spacing: 0.03em;
		}
		&__burger-menu {
			display: block;
			position: relative;
			width: 30px;
			height: 20px;
			z-index: 3;
		}
		&__burger-menu span {
			content: '';
			position: absolute;
			background-color: getColor('color-text-p');
			left: 0;
			width: 100%;
			height: 2px;
			top: 9px;
			z-index: 2;
			height: 3px;
			border-radius: 15px;
			transition: all 0.3s ease 0s;
		}
		&__burger-menu::before,
		&__burger-menu::after {
			content: '';
			background-color: getColor('color-text-p');

			position: absolute;
			width: 100%;
			height: 3px;
			transition: all 0.3s ease 0s;
			border-radius: 15px;
		}
		&__burger-menu::before {
			top: 0;
		}
		&__burger-menu::after {
			bottom: 0;
		}
		&__burger-menu.active span {
			transform: scale(0);
		}
		&__burger-menu.active:before {
			transform: rotate(45deg);
			top: 8px;
			border-radius: 15px;
		}
		&__burger-menu.active:after {
			transform: rotate(-45deg);
			bottom: 9px;
			border-radius: 15px;
		}
		&__nav-list {
			display: flex;
			flex-direction: column;
			padding-top: 50px;
			justify-content: left;
			align-items: center;
			position: fixed;
			top: -1000%;
			left: 0;
			width: 100%;
			height: 100px;
			background-color: #ffffff;
			z-index: 1;
			transition: all 0.3s ease 0s;
		}
		&__nav-list.active {
			display: flex;

			padding-top: 110px;
			align-items: start;
			top: 0;
			height: 100%;
			padding-left: 40px;
		}
		&__nav-list {
			display: flex;
			flex-direction: column;
			align-items: center;
		}
		&__nav-list {
			font-size: 18px;
		}
	}
	.header__nav-list .header__nav-item:not(:last-child) {
		margin-right: 0;
	}
	.burger__menu--contact {
		display: flex;
	}
	.header__contact-email {
		font-weight: 500;
		font-size: 24px;
		letter-spacing: 0.02em;
		margin-bottom: 64px;
		font-family: getFont('font-family-roboto'), sans-serif;
	}
	.header__contact-tel {
		font-weight: 500;
		font-size: 34px;
		letter-spacing: 0.02em;
		padding-top: 302px;
		padding-bottom: 32px;
		font-family: getFont('font-family-roboto'), sans-serif;
		color: #2196f3;
	}
	.studio-item,
	.portfolio-item {
		padding-bottom: 32px;
	}
	.social-links {
		font-family: getFont('font-family-roboto'), sans-serif;
		font-weight: 500;
		font-size: 18px;
		line-height: 122%;
		letter-spacing: 0.02em;
		color: #2196f3;
	}
	.instagram-link,
	.twitter-link,
	.facebook-link {
		margin-right: 20px;
	}
}
