.whatwedo{
    padding-top: 94px;
    padding-bottom: 94px;
    display: none;

    &__title{
        font-family: getFont('font-family-logo') , sans-serif;
        font-weight:700;
        font-size: 36px;
        margin-bottom: 50px;
        text-align: center;
    }
    &__list{
        display: flex;

    }
    &__item{
        position: relative;
    }
    &__text{
        @include FLXALGNcntrcntn;

        font-family: getFont('font-family-roboto') ,sans-serif;

        font-weight: 700;
        position: absolute;
        background-color:rgba(47, 48, 58, 0.8);
        color: map-get($colors, 'color-white');
        bottom: 0;
        // padding-top: 27px;
        width: 100%;
        height: 70px;
        text-align: center;
    }
    &__item:nth-child(1){
        margin-right:30px;
    }
    &__item:nth-child(2){
        margin-right:30px;
    }
}
@media screen and (min-width:1200px){
    .whatwedo{
        display: flex;
    }
}