.footer{
    &__container--flex{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    background: map-get($colors, 'color-background-section-first');
    padding: 60px 0;

    &__container--flex{
    @extend %FLXALGNcntr;

    }
    &__logo-studio{
        font-family: map-get($fonts, 'font-family-logo');
        font-weight: 700;
        font-size: 26px;
        color: map-get($colors, 'color-white');
        margin-bottom: 16px;
    }
    &__address{
        margin-right: 70px;
    }
    &__address-content{
        margin-top: 20px;
        font-style: normal;
    }
    &__join-text{
        font-weight: 700;
        font-size: 14px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        text-align: center;
        color: map-get($colors, 'color-white');
        margin-bottom: 20px;
    }
    &__social-media{

@include FLXALGNcntrcntn;
        gap: 10px;
        margin: 0 auto;
    }
    &__social-link{
@include FLXALGNcntrcntn;
        padding: 12px;
        // width: 44px;
        // height: 44px;
        fill: map-get($colors, 'color-white');
        background-color: map-get($colors, 'color-bg-svg');
        border-radius: 100%;
    }
    &__social-link:hover{
        background-color: map-get($colors, 'color-active');
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-delay: 0 ;
    }
    &__address-item{
        color: map-get($colors, 'color-white' );
    }
    &__address-item:not(:first-child){
        margin-top: 9px;
    }
    &__address-email, &__address-tel{
        color: map-get($colors, 'color-adresses');
    }
    &__form-container{
        @include FLXALGNcntrcntn;
        gap: 10px;
    }
    &__form{
        margin-left: 93px;
    }
    &__form-email::placeholder{
        padding: 15px;
    }
    &__form-email{
        width: 358px;
        height: 50px;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
        background: rgba(33, 150, 243, 0);
        border: 1px solid rgba(255, 255, 255, 0.3);
        border-radius: 4px;
        margin: 0;
        padding-left: 16px;
        color: map-get($colors, 'color-svg');

    }
    &__form-text{
        font-weight: 700;
        font-size: 14px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: map-get($colors, 'color-white');
        margin-bottom: 20px;
    }
    &__form-submit{
        @extend %FLXALGNcntr;
        padding: 10px 28px;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);

        border-radius: 4px;
        width: 160px;
        height: 34px;

        font-weight: 700;
        font-size: 16px;
        line-height: 187%;
        letter-spacing: 0.06em;

        color: map-get($colors, 'color-white');

        background: url(../images/telegram.svg) no-repeat;
        background-position: 160px;
        background-color: map-get($colors, 'color-active');
        border: none;
    }
}
@media screen and (min-width:768px){
    .footer{
        &__address {
            margin-right: 165px;
        }
        &__form{
            margin-top: 60px;
        }
        &__form-text{
            text-align: center;
        }
        &__form-container{
            display: flex;
            flex-direction: column;
        }
    }
}
@media screen and (max-width: 767px){
    .footer{
        &__container--flex{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 60px;
        }
        &__address {
            margin-right: 0;
          }
        &__form {
            margin-left: 0;
        }
        &__form-container{
            display: flex;
            flex-direction: column;
        }
        &__form-text{
            text-align: center;
        }
    }
  }